# Не добавлять в репозиторий следующие файлы
#*.[oa]    # не обрабатывать файлы имя которых заканчивается на .a, .o
#!lib.a    # НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#/TODO     # игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#build/    # игнорировать все файлы в каталоге build/
#doc/*.txt # игнорировать doc/notes.txt, но не doc/server/arch.txt
#
#
# Файлы резервных копий
*~
~*
*.orig
*.bak
*.swp
# Файлы с машинным кодом
*.pyc
*.[ao]
*.obj
*.so
*.la
*.lib
*.dll
# Файлы IDE
#.idea/
.DS_Store
